<html>
    <head>
    </head>
    
    <body>
        <script>
            window.__static = require('path').join(__dirname, 'static').replace(/\\/g, '\\\\');
        </script>
        <div id="corkboard"></div>
    </body>
</html>